# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts

# production
build/

# env files (never commit secrets)
.env
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store
*.pem
.vercel
tsconfig.tsbuildinfo
